@font-face {
    font-family: 'RalwayMedium';
    src: url(fonts/Raleway-Medium.otf);
}
/*Animations*/
.os-animation {
    opacity: 0;
}  
.os-animation.animated {
    opacity: 1;
}  

/* Spinner */
.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-right: 4px solid transparent;
    border-top: 4px solid coral;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* Custom */
body {
    color: white;
    font-family: 'RalwayMedium', sans-serif;
}


.navbar-custom {
    background-color: rgba(3, 29, 73, 0.5);
    font-size: 1.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    border-bottom: 3px solid transparent;
      -webkit-transition: border .50s ease-in-out; 
    transition: border .50s ease-in-out; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    border-bottom: 3px solid white;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
    border-bottom: 3px solid white;
    
}

.navbar-light .navbar-nav .nav-link:focus {
    color: white;
}

.navbar-light .navbar-toggler {
    border: 2px solid white;
}

.header__background {
    background-image: url(images/hero-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    min-height: 800px;
}

.technologies__container {
    min-height: 400px;
}

.portfolio__background {
    background-image: url(images/hero-02.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 85%, 50% 100%, 100% 85%, 100% 0%, 50% 15%, 0% 0%);
    clip-path: polygon(0 85%, 50% 100%, 100% 85%, 100% 0%, 50% 15%, 0% 0%);
    min-height: 800px;
}

.text-black {
    color: black !important; 
}

.text-blue {
    color: rgb(56, 165, 224) !important;
}

.shadow-nohover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5)
}

.shadow-onhover-white:hover{
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.6)
}

hr {
    border: 2px solid rgb(56, 165, 224);
    margin-left: 30%;
    margin-right: 30%;
}

.display-3_5 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1.5;
}

.btn-warning:hover {
    background-color: #ffc61a !important;
}
